body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 0;
}

main {display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 0;}

#first_block {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	}

.title_of_first_block { 
	font-family: Gilroy;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	color: #000000;
}
	
.b_first_block {
	font-family: Gilroy;
	font-style: normal;		
	font-stretch: normal;
	text-align: left;
	color: #141414;
}
	
.p_first_block {
	font-family: Gilroy;
	font-style: normal;
	font-stretch: normal;
	text-align: justify;
	color: #141414;
}
	
@media screen and (max-width: 700px) {
	body {min-width: 310px;}
	
		
	.first_block {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	
	.first_block div {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		width: 295px;
	}
	
	.image {
		width: 288px;
		height: auto;
	}
	
	img[src='pic/bigben.png']{
		width: 80%;
		height: auto;
	}
	
	
	.title_of_first_block {
		  font-size: 30px;
		  font-weight: 800;
		  letter-spacing: 1.5px;
		  text-align: center;
	}
	
	.b_first_block {
		font-size: 14px;
		font-weight: 800;
		line-height: 2;
		letter-spacing: 0.7px;
	}
	
	.p_first_block {
		font-size: 14px;
		font-weight: 300;
		line-height: 1.29;
		letter-spacing: 0.7px;
	}
	
	main {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		min-width: 310px;
		text-align: center;}
		

	
	#second_block {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		max-width: 100%;
		padding: 0 15%;
	}
	
	#second_block article{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	
	#second_block h2 {
		font-size: 24px;
		font-weight: 800;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: 1.2px;
		color: #000000;
	}
	
	#second_block h3 {
		font-size: 24px;
		font-weight: 800;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: 1.2px;
		color: #f5112c;
	}

	h2#second_block::before {
		content: '-';
		font-size: 24px;
		background-color: #f5112c;
	}
}

@media screen and (min-width: 700px) and (max-width: 1023px) {
	body {min-width: 640px;}
	
	.first_block {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: left;
		min-width: 800px;
		margin-left: 30%;
	}
	
	.first_block div {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		width: 344px;
		margin: 0 10px;
		
	}
	
	.image {
		width: 344px;
		height: auto;
	}
	
	img[src='pic/bigben.png']{
		width: 612px;
		height: 881px;
	}
	
	.title_of_first_block { 
		font-size: 30px;
		font-weight: 800;
		letter-spacing: 1.5px;
		text-align: left;
		padding-left: 15px;
	}
	
	.b_first_block {
		font-size: 18px;
		font-weight: 800;
		line-height: 1.56;
		letter-spacing: 0.9px;
	}
	
	.p_first_block {
	  font-size: 14px;
	  font-weight: 300;
	  line-height: 1.71;
	  letter-spacing: 0.7px;
	}
	
	#second_block h2 {
		font-size: 24px;
		font-weight: 800;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: 1.2px;
		color: #000000;
	}
	
	#second_block h3 {
		font-size: 24px;
		font-weight: 800;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: 1.2px;
		color: #f5112c;
	}
	
	main {
		display: flex;
		flex-direction: row;
		min-width: 700px;
		margin-right: 50px;
	}
	
	#main_p {
		width: 516px;
	}
	
	#second_block {
		display: flex;
		flex-direction: column;
	}

	#container_second_block div {
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 269px;
	}
	
	
	#container_second_block div {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	
	
}

@media screen and (min-width: 1023px) {
	body {min-width: 1000px;}
	
	.first_block {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 0 15px;
	}
	
	.first_block div {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		width: 360px;
		padding: 0 15px;
		
	}
	
	.image {
		width: 360px;
		height: auto;
	}
	
	img[src='pic/bigben.png']{
		width: 749px;
		height: auto;
		float: left;
	}
	
	.title_of_first_block { 
		  font-size: 45px;
		  font-weight: 800;
		  letter-spacing: 2.3px;
		  text-align: left;
	}
	
	.b_first_block {
		font-size: 18px;
		font-weight: 800;
		line-height: 1.56;
		letter-spacing: 0.9px;
	}
	
	.p_first_block {
		font-size: 14px;
		font-weight: 300;
		line-height: 1.71;
		letter-spacing: 0.7px;
	}
	
		
	#second_block h2 {
		font-size: 45px;
		font-weight: 800;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: 2.3px;
		color: #000000;
	}
	
	#second_block h3 {
		font-size: 41px;
		font-weight: 800;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: 2.3px;
		color: #f5112c;
	}
	
	main {
		display: flex;
		flex-direction: row;
		min-width: 1300зч;
		margin-right: 50px;
	}
	
	#main_p {
		width: 654px;
	}
	
	#second_block {
		display: flex;
		flex-direction: column;
	}

	#container_second_block div {
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 269px;
		padding: 0 10px;
	}
	
	
	#container_second_block div {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}