.content {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	width: 1400px;
	margin: 0 auto;
}

header {
	background-image: url(images/background.png);
	min-height: 500px;
	width: 1400px;
}



nav {
	display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-direction: row;
	padding-top: 19px;
}



p{color:#ffffff;}

#block-nav-menu ul{
 margin: 0;
 padding: 0;
}

#block-nav-menu ul li{
 float: left;
 list-style: none;
}
#block-nav-menu li:last-child{
 border-right: none; 
}

#block-nav-menu ul li{
 float: left;
 list-style: none;
 margin: 0 20px 0 0;
 background-color: none;

}

#block-nav-menu li:last-child{
background-color: #262a34;
color: #fffffff;
/*262a34*/
}

.button-nav{
  align-items: center;
  text-decoration: none;
  
}

#block-nav-menu li a {
 text-decoration: none;
 color: #ffffff;
}
#block-nav-menu li a:hover {

  text-decoration: none;
}


#top-navigation {
  font-size: 12px;
  font-family: OpenSans;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.75;
  letter-spacing: normal;
  text-align: left;
}

.cont {
	display: flex;
    align-items: center;
    flex-direction: row;
	margin: 0 20%; 
	margin-top: 5%;
}

.cont img[src="images/screen.png"] {width: 100%; height: auto;}

.cont1 {
	justify-content: center;
	background-color: #262a34;
	display: flex;
    align-items: center;
    flex-direction: row;
	width: 1400px;
	min-height: 861px;
}

.cont_block {
	width: 228px;
	height: 404px;
	background-color: #405050;
	margin: 10px;
}

.cont2 {
	display: flex;
	justify-content: center;
    align-items: center;
    flex-direction: column;
	width: 1400px;
	min-height: 100px;
	background-color: rgba(92,219,211,.8);
}

#cont2_block img[src="images/screen.png"] {width: 35%; height: auto;}

.text_b2 {
	background-color: #fff;
	margin-left: 5%;
	padding: 3%;
}

#cont2_block1 {
	margin-top: 7%;
}

#cont2_block {
	width: 800px;
	display: flex;
	justify-content: center;
    align-items: center;
    flex-direction: row;
}

.join_us {
	background-color: #262a34;
	display: flex;
	justify-content: center;
    align-items: center;
    flex-direction: column;
	width: 1400px;
	min-height: 100px;
	padding: 3% 0;
}

#logo_2{
	width: 54px;
	height: 68px;
	margin: 0 40%; 
}

/*font*/

#buttoni {
  width: 138px;
  height: 46px;
  background-color: #41e0d8;
}

#buttoni a {
	margin-left: 30px;
	font-family: OpenSans;
	font-size: 12px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 3.75;
	letter-spacing: normal;
	color: #ffffff;
	text-decoration: none;
}

.Join-more-than-1000 {
  width: 453px;
  height: 98px;
  font-family: OpenSans;
  font-size: 43px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.51;
  letter-spacing: normal;
  text-align: left;
  color: #3c3d41;
}
.Join-more-than-1000 .text-style-1 {
  font-weight: 600;
  font-style: italic;
  color: #ffffff;
}

.path {
  width: 340px;
  font-family: OpenSans;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.2;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.What-you-get {
  width: 283px;
  height: 43px;
  font-family: OpenSans;
  font-size: 43px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.51;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.Some-words-from-our {
  height: 33px;
  font-family: OpenSans;
  font-size: 43px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.51;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.People-are-definitel {
  font-family: OpenSans;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.2;
  letter-spacing: normal;
  text-align: center;
  color: #262a34;
}
#John-Doe {
  width: 65px;
  height: 15px;
  font-family: OpenSans;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.2;
  letter-spacing: normal;
  text-align: left;
  color: #41e0d8; 
}

.Join-us {
  width: 145px;
  height: 42px;
  font-family: OpenSans;
  font-size: 43px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.51;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin: 2px 0; 
}
.We-will-send-you-fro {
  width: 244px;
  font-family: OpenSans;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.2;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

#Your_Mail {
  width: 460px;
  height: 50px;
  opacity: 0.2;
  background-color: #ffffff;
}
.Send-Button {
  width: 139px;
  height: 50px;
  background-color: #ffffff;
}